
<div class="center">
  <h3>Edit Your Comment</h3>
  <%= form_for @comment do |f| %>
    <br>
    <%= f.text_area :body, class: "new-comment" %>
    <br>
    <%=f.submit :Update %>
  <% end %>
</div>
